


<!--Example 1-->
<!-- div class="container-main">

  <div class="header">
    <p> CSS GRID</p>
  </div>

  <div class="contenedor">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div>12</div>
  </div>

</div -->


<!--Example 2 -- MEIDAS MINIMAS Y MAXIMAS-->
<!-- <div class="container-main">

  <div class="header">
    <p> CSS GRID</p>
  </div>

  <div class="contenedor">
    <div> Fue abogado y político mexicano. </div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div>12</div>
  </div>

</div> -->

<!--Example 3 -- FUNCION REPEAT y POSICIONAMIENTO-->
<!-- <div class="container-main">

  <div class="header">
    <p> CSS GRID</p>
  </div>

  <div class="contenedor">
    <div>1 </div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div>12</div>
  </div>

</div> -->

<!--Example 5 -- GRID AREAS-->
<div class="container-main">

  <div class="header">
    <p> CSS GRID</p>
  </div>

  <div class="contenedor">
    <div class="headers">1 </div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div>12</div>
  </div>

</div>
