<header class="header">
    <div class="container-title">
        <h3 class="logo">
            FACEBOOK
        </h3>
    </div>

    <div class="container-form">
        
        <form class="form-inline" [formGroup]='miFormulario'>
            <div class="form-inline" >
                <div class="form-group mb-2 form-header">
                    <label for="inputEmail4">Correo electronico</label>
                    <input type="email" class="form-control " id="inputEmail4" placeholder="Correo electronico" >
                </div>

                <div class="form-group mb-2 form-header">
                    <label for="inputPassword2">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary mb-2 buttom-entrar">Entrar</button>
        </form>
    </div>

</header>

<nav class="menu">

</nav>

<section class="contain">

</section>

<footer class="footer">

</footer>