<mat-toolbar color="primary" class="header">
  <div>LibraryUI</div>

  <span class="nav-tool-items">
    <img class="icon" *ngIf='!_service.isManager()' src="assets/images/reservar.svg" mat-icon-button >
    <app-prv-notifications></app-prv-notifications>
    <img class="icon" src="assets/images/flag.svg" mat-icon-button [matMenuTriggerFor]="flag" alt="flag">
    <img class="icon" src="assets/images/user.svg" mat-icon-button [matMenuTriggerFor]="profile" alt="user">
    <img class="icon" *ngIf='_service.isManager()' src="assets/images/menu.svg" mat-icon-button (click)="sidenav.toggle()" alt="menu">
  </span>
</mat-toolbar>

<mat-menu #profile>
  <button mat-menu-item disabled>
    <mat-icon>dialpad</mat-icon>
    <span>Marco Antonio Santiago Feria</span>
  </button>
  <button mat-menu-item  routerLink="/profile">
    <mat-icon>dialpad</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item (click)="_service.logout()">
    <mat-icon>notifications_off</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>

<mat-menu #flag>
  <button mat-menu-item (click)="switchLang('es')">
    <mat-icon>assistant_photo</mat-icon>
    <span>MX</span>
  </button>
  <button mat-menu-item (click)="switchLang('en')">
    <mat-icon>assistant_photo</mat-icon>
    <span>USA</span>
  </button>
</mat-menu>