<p>REGISTRO DE ALUMNOS</p>

<form class="form form-group" [formGroup]="studentsForm" novalidate (ngSubmit)="save()">

    <div class="form__row">
      <mat-form-field fxFlex>
        <input matInput  type="text"  placeholder="Nombre" formControlName="name">
        <mat-error *ngIf="studentsForm.controls.name.touched && studentsForm.controls.name.invalid">
          <span *ngIf="studentsForm.controls.name.errors.required">Campo obligatorio.</span>
          <span *ngIf="studentsForm.get('name').errors.minlength || studentsForm.get('name').errors.pattern">Campo tipo texto min 3 caracteres.</span>
        </mat-error>
      </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Apellido Paterno" formControlName="surname">
          <mat-error *ngIf="studentsForm.controls.surname.touched && studentsForm.controls.surname.invalid">
            <span *ngIf="studentsForm.get('surname').errors.required">Campo obligatorio.</span>
            <span *ngIf="studentsForm.get('surname').errors.minlength || studentsForm.get('surname').errors.pattern">Campo tipo texto min 4 caracteres.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Apellido Materno" formControlName="mothersuname">
          <mat-error *ngIf="studentsForm.controls.mothersuname.touched && studentsForm.controls.mothersuname.invalid">
            <span *ngIf="studentsForm.controls.mothersuname.errors.required">Campo obligatorio.</span>
            <span *ngIf="studentsForm.get('mothersuname').errors.minlength || studentsForm.get('mothersuname').errors.pattern">Campo tipo texto min 4 caracteres.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form__row">
        <mat-form-field appearance="sex">
          <mat-label>Sexo</mat-label>
          <select matNativeControl id="sex" formControlName="sex">
            <mat-error *ngIf="studentsForm.controls.sex.touched && studentsForm.controls.sex.invalid">
              <span *ngIf="studentsForm.controls.sex.errors.required">Campo obligatorio.</span>
                <span *ngIf="studentsForm.get('sex').errors.minlength || studentsForm.get('sex').errors.pattern">Selecione el sexo.</span>
              </mat-error>
            <option value="" disabled selected></option>
            <option value="m">Masculino</option>
            <option value="f">Femenino</option>
          </select>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Telefono" formControlName="cel">
          <mat-error *ngIf="studentsForm.controls.cel.touched && studentsForm.controls.cel.invalid">
            <span *ngIf="studentsForm.get('cel').errors.required">Campo obligatorio.</span>
            <span *ngIf="studentsForm.get('cel').errors.minlength || studentsForm.get('cel').errors.maxlength || studentsForm.get('cel').errors.pattern">Campo tipo numerico max 10 digitos.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Correo electronico" formControlName="email">
          <mat-error *ngIf="studentsForm.controls.email.touched && studentsForm.controls.email.invalid">
            <span *ngIf="studentsForm.controls.email.errors.required">Campo obligatorio.</span>
            <span *ngIf="studentsForm.controls.email.errors.pattern">E-mail incorecto.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form__row">
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Codigo Postal" formControlName="postalCode">
          <mat-error *ngIf="studentsForm.controls.postalCode.touched && studentsForm.controls.postalCode.invalid">
            <span *ngIf="studentsForm.controls.postalCode.errors.required">Campo obligatorio.</span>
            <span *ngIf="studentsForm.get('postalCode').errors.minlength || studentsForm.get('postalCode').errors.pattern">Campo tipo numerico min 4 digitos.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Delegacion" formControlName="delegation">
          <mat-error *ngIf="studentsForm.controls.delegation.touched && studentsForm.controls.delegation.invalid">
            <span *ngIf="studentsForm.controls.delegation.errors.required">Campo obligatorio.</span>
            <span *ngIf="studentsForm.get('delegation').errors.minlength || studentsForm.get('delegation').errors.pattern">Campo tipo numerico min 4 digitos.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Colonia" formControlName="colony">
          <mat-error *ngIf="studentsForm.controls.colony.touched && studentsForm.controls.colony.invalid">
            <span *ngIf="studentsForm.controls.colony.errors.required">Campo obligatorio.</span>
            <span *ngIf="studentsForm.get('colony').errors.minlength || studentsForm.get('colony').errors.pattern">Campo tipo numerico min 4 digitos.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form__row">
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Calle" formControlName="street">
          <mat-error *ngIf="studentsForm.controls.street.touched && studentsForm.controls.street.invalid">
            <span *ngIf="studentsForm.controls.street.errors.required">Campo obligatorio.</span>
            <span *ngIf="studentsForm.get('street').errors.minlength || studentsForm.get('street').errors.pattern">Campo tipo numerico min 4 digitos.</span>
          </mat-error>
        </mat-form-field>
            <mat-form-field appearance="degree">
            <mat-label>Carrera</mat-label>
            <select matNativeControl id="degree" formControlName="degree">
              <mat-error *ngIf="studentsForm.controls.degree.touched && studentsForm.controls.degree.invalid">
                <span *ngIf="studentsForm.controls.degree.errors.required">Campo obligatorio.</span>
                  <span *ngIf="studentsForm.get('degree').errors.minlength || studentsForm.get('degree').errors.pattern">Campo tipo numerico min 4 digitos.</span>
                </mat-error>
              <option value="" disabled selected></option>
              <option value="1">Lic. Contaduria</option>
              <option value="2">Lic. Administracion Tecnologias Informacio</option>
              <option value="3">Lic. Adminitracio</option>
              <option value="4">Lic. Gastronomia</option>
            </select>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput  type="text"  placeholder="Matricula" formControlName="clave">
            <mat-error *ngIf="studentsForm.controls.clave.touched && studentsForm.controls.clave.invalid">
              <span *ngIf="studentsForm.controls.clave.errors.required">Campo obligatorio.</span>
              <span *ngIf="studentsForm.get('clave').errors.minlength || studentsForm.get('clave').errors.pattern">Campo tipo numerico min 4 digitos.</span>
            </mat-error>
          </mat-form-field>
      </div>
      <div class=button>
          <button mat-raised-button color ="primary" type="submit">Registrar</button>
    </div>
</form>

<pre> {{ studentsForm.value | json }}</pre>