<app-header [isProfile]='true'></app-header>

<div class="container">
  <section class="sidebar">

    <div class="data-user">
      <img class="data-user__icon" src="assets/images/user.svg">
      <p class="data-user__description">User Santiago</p>
      <p class="data-user__description">Manager</p>
    </div>

    <div class="group-buttons">
      <button  mat-raised-button routerLink="/profile/contact">
        <div class="onSelect" [routerLinkActive]="['isActive']"></div>
        <mat-icon class="icon">person</mat-icon>
        <span>Contacto</span>
      </button>
      <button  mat-raised-button routerLink="/profile/reset-password">
        <div class="onSelect" [routerLinkActive]="['isActive']"></div>
        <mat-icon class="icon">password</mat-icon>
        <span>Cambiar contraseña</span>
      </button>
      <button  mat-raised-button [routerLink]="'/'">
        <mat-icon class="icon">house</mat-icon>
        <span>Salir del menú</span>
      </button>
    </div>
  </section>

  <section class="content-form">
    <router-outlet></router-outlet>
  </section>
</div>

