<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
    <div>LibraryUI</div>
  </mat-toolbar>


<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card  class="login">
        <img  class="logo-security" src="assets/images/securirty-2-logo.svg"  alt="login">


      <form fxLayout="column" >

        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10rem" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex>
            <input matInput  type="text"  placeholder="Usuario" name="email">
          </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8rem" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex>
            <input matInput  type="text"  placeholder="Contraseña" name="email">
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" routerLink="/home/dashboard">Acceder</button>

      </form>
    </mat-card>

  </div>


