<p>{{ id ? 'EDITAR ANIMAL': 'AGREGAR ANIMAL'}}</p>
<p> {{id }}</p>
    <form class="form" [formGroup]="animalForm" novalidate>
  
        <div class="form__row">
          <mat-form-field fxFlex>
            <input matInput  type="text" placeholder="*tipo de animal" formControlName="typeAnimal">
            <mat-error *ngIf="animalForm.controls.typeAnimal.touched && animalForm.controls.typeAnimal.invalid">
                <span *ngIf="animalForm.get('typeAnimal').errors.required">Campo obligatorio.</span>
                <span *ngIf="animalForm.get('typeAnimal').errors.minlength || animalForm.get('typeAnimal').errors.maxlength || animalForm.get('typeAnimal').errors.pattern">Solo letras,Min(3),Max(40)</span>                
              </mat-error>
          </mat-form-field> 
          <mat-form-field fxFlex>
            <input matInput  type="text" placeholder="RAZA" formControlName="raza">
            <mat-error *ngIf="animalForm.controls.raza.touched && animalForm.controls.raza.invalid">
                <span *ngIf="animalForm.get('raza').errors.required">Campo obligatorio.</span>
                <span *ngIf="animalForm.get('raza').errors.pattern || animalForm.get('raza').errors.minlength || animalForm.get('raza').errors.maxlength ">Alfanumerico,Min(3),Max(40)</span>
              </mat-error>
          </mat-form-field> 
        </div> 
              
      <button mat-raised-button color="primary" 
      type="button" (click)= "createAnimal()" [disabled] = "animalForm.invalid">{{id ? 'MODIFICAR' :'AGREGAR'}}</button>

    </form>

