
<form [formGroup]='miFormulario' (ngSubmit)='guardarCambios()' novalidate=''>

     <div class="form-row form-register-content">
       <h2 class="form-registerh4 tex-center">REGISTRO DE ALUMNOS </h2>
        <div class="form-group ">
          <label>Titulo  del Libro</label>
          <input class="form-control form-register" type="text" placeholder="Titulo del Libro" formControlName="Titulo del Libro">
        </div>
      <div class="form-group ">
          <label>ID</label>
          <input class="form-control form-register" type="text" placeholder="Id" formControlName="Id">
        </div>
       <div class="form-group ">
          <label>AUTOR</label>
          <input class="form-control form-register" type="text" placeholder="Autor" formControlName="Autor">
        </div>
        <div class="form-group ">
          <label>GENERO</label>
          <input class="form-control form-register" type="text" placeholder="Genero" formControlName="Genero">
        </div> 
       <div class="form-group ">
          <label>EDITORIAL</label>
          <input class="form-control form-register" type="text" placeholder="Editorial" formControlName="Editorial">
        </div>
        <div class="form-group ">
          <label>Numero de Ejemplares</label>
          <input class="form-control form-register" type="text" placeholder="Numero de Ejemplares" formControlName="Num.ejemplares">
        </div> 
         <button type="submit" class="btn btn-primary form-registerbotton ">Registrar</button>
      </div> 
  </form>
