.container-primary

/*Stylus of form*/
.form-book
    border: 1px solid red
    padding: 3rem
    border-radius: 1rem
    
    &__row
        display: flex
        flex-wrap: wrap
        justify-content: space-between

    &__group
        margin-bottom: 1rem
        padding-top: 3rem

    &--small
        width: 25%
    &--medium
        width: 50%
    &--big
        width: 100%

.form-group
    
    &__title

    &__campo

    
    