
<form [formGroup]='miFormulario' (ngSubmit)='guardarCambios()' novalidate=''>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Nombre</label>
        <input class="form-control" type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Apellido paterno</label>
        <input class="form-control" type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Apellido materno</label>
        <input class="form-control" type="text" class="form-control" placeholder="Sexo" formControlName="sexo">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
