.container-primary




    
.row-book

    display: flex
    flex-wrap: wrap
    justify-content: space-between

.margin-group
    margin-bottom: 1rem
    padding-top: 3rem



.form-book
    &__row
        margin-bottom: 1rem
        padding-top: 3rem

    &__group
        margin-bottom: 1rem
        padding-top: 3rem
    