<!-- Toolbar -->
<mat-toolbar class="header">
  <div class="wrap">
    <img class="wrap__icon" src="assets/icon-main.svg" alt="mx">
    <p class="wrap__title">{{'title' | translate}}</p>
  </div>

  <div class="wrap-icons">
    <img class="dropdown" src="assets/downarrow_120663.svg" (click)="activar()" mat-icon-button alt="main">
    <div class="icons" [class.visible]="isActive">
      <div class="img-wraper">
        <img src="assets/notifications.svg"  mat-icon-button alt="notification">
      </div>
      <div class="img-wraper">
        <img src="assets/flag-mex.svg" mat-icon-button [matMenuTriggerFor]="menuFlag" alt="mx">
      </div>
      <div class="img-wraper">
        <img src="assets/perfil.svg" mat-icon-button [matMenuTriggerFor]="menu" alt="flag">
      </div>
      <div class="img-wraper">
        <img class="icon-menu" src="assets/menu.svg" (click)="navBar.toggle()" mat-icon-button alt="notification">
      </div>
    </div>

  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>dialpad</mat-icon>
    <span>Marco Antonio Santiago Feria</span>
  </button>
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Configuracion</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>

<mat-menu #menuFlag="matMenu">
  <button mat-menu-item (click)="switchLang('es')">
    <mat-icon>assistant_photo</mat-icon>
    <span>MX</span>
  </button>
  <button mat-menu-item (click)="switchLang('en')">
    <mat-icon>assistant_photo</mat-icon>
    <span>USA</span>
  </button>
</mat-menu>
