<h5 class="card-title">La gente exitosa hace preguntas. Buscan maestros nuevos. 
  Siempre están aprendiendo."ROBERT KIYOSAKI "</h5>
<div class="card">
  <div class="card-body">
    <p class="card-text"> En nuestro sitio  encontratras desde novelas hasta temas científicos, esta biblioteca es 
      una oportunidad perfecta para que leas todos esos clásicos pendientes en tu lista de lecturas.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITULO</th>
        <th scope="col">AUTOR</th>
        <th scope="col">GENERO</th>
        <th scope="col">EDITORIAL</th>
        <th scope="col">NUMERO DE EJEMPLARES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Viajes al corazón del hambre</td>
        <td>Xavier Aldeoka</td>
        <td>Periodistico</td>
        <td>Ebooks Vanguardia</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sinsajo</td>
        <td>Suzanne Collins</td>
        <td>Ciencia Ficcion</td>
        <td>RBA Libros</td>
        <td>15</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Te espero en la prox. estacion</td>
        <td>Fernando Pardo Ruiz</td>
        <td>Novela Urbana</td>
        <td>Amarante</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Padre rico, Padre pobre</td>
        <td>Robert Kiyosaki</td>
        <td>Finanzas</td>
        <td>Aguilar</td>
        <td>15</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Soñar a destiempo</td>
        <td>Isabel Garcia</td>
        <td>Derecho y politica</td>
        <td>UOC</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>
