<div class="container-primary">

    <header class="header">
        
        <div class="container-title">
            <h3 class="container-title__title container-title__title--medium">
                mi app
            </h3>
        </div>

    </header>
    
    <nav class="menu">
        menu
    </nav>
    
    <section class="contain">
        <p class="contain__text contain__text--negrita">
            VENTAJAS Y DESVENTAJAS DE BEM
            La metodología BEM se encuentra en constante evolución, pero ha demostrado 
            su eficiencia al establecer una buena jerarquía en el desarrollo de plataformas.
              En el tiempo que llevamos usándola hemos percibido las siguientes ventajas:
        </p>   
    </section>
    
    <footer class="footer">
        pie de pagina
    </footer>

</div>