<div class="container-main">

  <app-header [navBar]="sidenav" (cambio)="funCambiar($event)" ></app-header>

  <mat-sidenav-container>
    <!-- MENU -->
    
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
      [fixedTopGap]>
      <div class="container-menu">
        <app-menu></app-menu>        
      </div>
    </mat-sidenav> 
    <!-- Contenedor -->

      <mat-sidenav-content>

        <section class="mat-typography title-group">

          <!-- <h1> {{ datoHijo }}  </h1>
          <mat-divider></mat-divider> -->

        </section>

          <router-outlet></router-outlet>

      </mat-sidenav-content>

  </mat-sidenav-container>

</div>