.container-main
    display: flex
    flex-direction: column
    height: 100vh

mat-sidenav
    padding: 0

.container-menu
    overflow: auto
    height: 100%

    &::-webkit-scrollbar
        width: 0.3125rem
        background: white
        border-radius: 0.625rem

        &-thumb
            background-color: #dd7b17
            border-radius: 0.625rem