
<mat-toolbar color='primary' class='header'>
  <div>LibraryUI</div>
</mat-toolbar>

<div class='login-wrapper' >

  <div class='login'>
    <img class='login__icon' src='assets/images/securirty-2-logo.svg'  alt='icon'>

    <form class='form-login' [formGroup]='authForm' novalidate (ngSubmit)='onLogin()'>
      <div class='form-login__control'>
        <mat-form-field>
          <input matInput type='text' placeholder='Usuario' formControlName='email'>
        </mat-form-field>
        <mat-form-field>
          <input matInput type='password' placeholder='Contraseña' formControlName='password'>
        </mat-form-field>
      </div>
      <p class="form-login__msg-error">
        {{ areWrongCredentials ? 'Credenciales incorrectas': ''}}
      </p>
      <div class="form-login__actions">
        <button class='form-login__save' mat-raised-button color='primary' type='submit' [disabled]='authForm.invalid'>
          Registrar
        </button>
        <br>
        <a routerLink='/signup'>Crear cuenta nueva</a>
        <a routerLink='/forgot-password'>¿Olvidaste la contraseña?</a>
      </div>
    </form>
  </div>

</div>