<p>REGISTRO DEL PERSONAL EDUCATIVO</p>

<form class="form form-group" [formGroup]="educationalForm" novalidate (ngSubmit)="save()">
     <div class="form__row">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="Matricula" formControlName="clave">
        <mat-error *ngIf="educationalForm.controls.clave.touched && educationalForm.controls.clave.invalid">
          <span *ngIf="educationalForm.controls.clave.errors.required">Campo Obligatorio</span>
          <span *ngIf="educationalForm.get('clave').errors.minlength || educationalForm.get('clave').errors.pattern">Campo Obligatorio</span>  
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="typePerson">
        <mat-label>Tipo de Persona</mat-label>
        <select matNativeControl id="typePerson" formControlName="typePerson">
          <mat-error *ngIf="educationalForm.controls.typePerson.touched && educationalForm.controls.typePerson.invalid">
            <span *ngIf="educationalForm.controls.typePerson.errors.required">Campo obligatorio</span>
              <span *ngIf="educationalForm.get('typePerson').errors.minlength || educationalForm.get('typePerson').errors.pattern">Sel. a tipo persona</span>
            </mat-error>
          <option value="" disabled selected></option>
          <option value="1">Profesor</option>
          <option value="2">Coordinador</option>
          <option value="3">Director</option>
        </select>
      </mat-form-field>




     
      <mat-form-field appearance="sex">
        <mat-label>Sexo</mat-label>
        <select matNativeControl id="sex" formControlName="sex">
          <mat-error *ngIf="educationalForm.controls.sex.touched && educationalForm.controls.sex.invalid">
            <span *ngIf="educationalForm.controls.sex.errors.required">Campo Obligatorio</span>
            <span *ngIf="educationalForm.get('sex').errors.minlength || educationalForm.get('sex').errors.pattern">Seleccione el Sexo</span>
          </mat-error>
          <option value="" disabled selected></option>
        <option value="f">Femenino</option>
        <option value="m">Masculino</option>
        </select>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput  type="text"  placeholder="Nombre" formControlName="name">
        <mat-error *ngIf="educationalForm.controls.name.touched && educationalForm.controls.name.invalid">
          <span *ngIf="educationalForm.controls.name.errors.required">Campo obligatorio.</span>
          <span *ngIf="educationalForm.get('name').errors.minlength || educationalForm.get('name').errors.pattern">Campo tipo texto min 3 caracteres.</span>
        </mat-error>
      </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Apellido Paterno" formControlName="surname">
          <mat-error *ngIf="educationalForm.controls.surname.touched && educationalForm.controls.surname.invalid">
            <span *ngIf="educationalForm.get('surname').errors.required">Campo obligatorio.</span>
            <span *ngIf="educationalForm.get('surname').errors.minlength || educationalForm.get('surname').errors.pattern">Campo tipo texto min 4 caracteres.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Apellido Materno" formControlName="mothersuname">
          <mat-error *ngIf="educationalForm.controls.mothersuname.touched && educationalForm.controls.mothersuname.invalid">
            <span *ngIf="educationalForm.controls.mothersuname.errors.required">Campo obligatorio.</span>
            <span *ngIf="educationalForm.get('mothersuname').errors.minlength || educationalForm.get('mothersuname').errors.pattern">Campo tipo texto min 4 caracteres.</span>
          </mat-error>
        </mat-form-field>
      </div> 
      <div class="form__row">
        <mat-form-field fxFlex>
          <input matInput type="text" placeholder="Correo Electronico" formControlName="email">
          <mat-error *ngIf="educationalForm.controls.email.touched && educationalForm.controls.email.invalid">
          <span *ngIf="educationalForm.get('email').errors.required">Campo obligatorio</span>  
          <span *ngIf="educationalForm.get('email').errors.pattern">E-mail incorrecto</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput type="text" placeholder="Telefono" formControlName="cel">
          <mat-error *ngIf="educationalForm.controls.cel.touched && educationalForm.controls.cel.invalid">
            <span *ngIf="educationalForm.get('cel').errors.required">Campo obligatorio</span>
            <span *ngIf="educationalForm.get('cel').errors.minlength || educationalForm.get('cel').errors.maxlength || educationalForm.get('cel').errors.pattern">Tipo Numerico min-max (10)</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Codigo Postal" formControlName="postalCode">
          <mat-error *ngIf="educationalForm.controls.postalCode.touched && educationalForm.controls.postalCode.invalid">
            <span *ngIf="educationalForm.controls.postalCode.errors.required">Campo obligatorio.</span>
            <span *ngIf="educationalForm.get('postalCode').errors.minlength || educationalForm.get('postalCode').errors.pattern">Campo tipo numerico min 4 digitos.</span>
          </mat-error>
        </mat-form-field>
      </div>
        <div class="form__row">
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Delegacion" formControlName="delegation">
          <mat-error *ngIf="educationalForm.controls.delegation.touched && educationalForm.controls.delegation.invalid">
            <span *ngIf="educationalForm.controls.delegation.errors.required">Campo obligatorio.</span>
            <span *ngIf="educationalForm.get('delegation').errors.minlength || educationalForm.get('delegation').errors.pattern">Campo tipo numerico min 4 digitos.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Colonia" formControlName="colony">
          <mat-error *ngIf="educationalForm.controls.colony.touched && educationalForm.controls.colony.invalid">
            <span *ngIf="educationalForm.controls.colony.errors.required">Campo obligatorio.</span>
            <span *ngIf="educationalForm.get('colony').errors.minlength || educationalForm.get('colony').errors.pattern">Campo tipo numerico min 4 digitos.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Calle" formControlName="street">
          <mat-error *ngIf="educationalForm.controls.street.touched && educationalForm.controls.street.invalid">
            <span *ngIf="educationalForm.controls.street.errors.required">Campo obligatorio.</span>
            <span *ngIf="educationalForm.get('street').errors.minlength || educationalForm.get('street').errors.pattern">Campo tipo numerico min 4 digitos.</span>
          </mat-error>
        </mat-form-field>

      </div>
        
      <div class=button>
        <button  mat-raised-button color="primary" type="submit" [disabled]="!educationalForm.valid" >REGISTRAR</button>
      </div>
    </form>

    <pre> {{ educationalForm.value | json }}</pre>
