
.header
  cursor: pointer
  background: #a0baf7

.title
  display: flex

  &--medium
    font-size: 10rem
  &--small
    font-size: 2rem



.wrap-icons
  position: absolute
  right: 0.5rem
  display: flex

  &__perfil
    width: 2.5rem
    margin-left: 1.2rem
    display: none
    //* ocultar elementos
    //display: block mostrar elementos

  &__group-icons
    margin-top: 0rem
    & > img
          width: 2.5rem
          padding-top: .5rem
          padding-left: 2rem
          padding-right: 2rem
 
  &__group-menu  
    display: none
    width: 2.5rem
    padding-top: .5rem
    padding-left: 2rem
    padding-right: 2rem       



         

@media all and (max-width: 410px)

    .wrap-icons
      display: flex
      flex-direction: column
      top: 0
  


      &__group-icons
        display: none
      
    
      &__group-menu  
        display: block
        width: 1.5rem

        &:hover ~ .mm
          display: block
          display: flex
          flex-direction: column

