<!-- Toolbar -->
<mat-toolbar class="header">
  <div class="title-header">
    <h1>LibraryUI</h1>
  </div>

  <div class="icons-header">
    <img  class="icon-option-perfil" src="assets/option-perfil.svg" (click)="showMenuResponsive()" >
    <div class="container-icon" *ngIf="iconMenus">
      <img src="assets/notifications.svg"  mat-icon-button alt="notification">
      <img src="assets/perfil.svg" mat-icon-button [matMenuTriggerFor]="menu" alt="flag">
      <img src="assets/flag-mex.svg" mat-icon-button [matMenuTriggerFor]="menuFlag" alt="mx">
      <img class="icon-menu" src="assets/menu.svg" (click)="navBar.toggle()"
        mat-icon-button alt="notification">


    </div>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>dialpad</mat-icon>
      <span>Marco Antonio Santiago Feria</span>
    </button>
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Configuracion</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>

  <mat-menu #menuFlag="matMenu">
    <button mat-menu-item>
      <mat-icon>assistant_photo</mat-icon>
      <span>MX</span>
    </button>
    <button mat-menu-item>
      <mat-icon>assistant_photo</mat-icon>
      <span>USA</span>
    </button>
  </mat-menu>

</mat-toolbar>
