<h4>REGISTRO DE USUARIOS</h4>

<form [formGroup]='miFormulario' novalidate=''>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="exampleFormControlSelect1">Seleccione tipo de usuario</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Seleccione</option>
          <option>Alumno</option>
          <option>Profesor</option>
          <option>Ejecutivo</option>
          <option>Director(a)</option>
        </select>
      </div>
    </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="text">Nombre</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Apellido paterno</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label for="text">Apellido materno</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Matricula</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label for="exampleFormControlSelect1">Seleccione carrera</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Seleccione</option>
            <option>Lic.Arquitectura</option>
            <option>Lic.Gastronomia</option>
            <option>Lic.Informatica</option>
            <option>Lic.Contabilidad</option>
            <option>Lic. Derecho</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">E-mail</label>
          <input type="email" class="form-control" id="inputPassword4" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Celular</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label for="exampleFormControlSelect1">Seleccione Sexo</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Seleccione</option>
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </div>
      </div>
    </form>
