<p>{{id ? 'MODIFICAR LIBRO' : 'AGREGAR LIBRO'}}</p>


<div class="productCards">
  <form #regForm="ngForm" class="form" [formGroup]="bookForm" novalidate>

      <div class="form__row">
        <mat-form-field fxFlex>
          <input matInput  type="text" placeholder="Nombre" formControlName="name">
          <mat-error *ngIf="bookForm.controls.name.touched && bookForm.controls.name.invalid">
            <span *ngIf="bookForm.get('name').errors.required">Campo obligatorio.</span>
            <span *ngIf="bookForm.get('name').errors.pattern">Campo de tipo texto.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Editorial" formControlName="editorial">
          <mat-error *ngIf="bookForm.controls.editorial.touched && bookForm.controls.editorial.invalid">
            <span *ngIf="bookForm.get('editorial').errors.required">Campo obligatorio.</span>
            <span *ngIf="bookForm.get('editorial').errors.pattern">Campo de tipo texto.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="author" formControlName="author">
          <mat-error *ngIf="bookForm.controls.author.touched && bookForm.controls.author.invalid">
            <span *ngIf="bookForm.get('author').errors.required">Campo obligatorio.</span>
            <span *ngIf="bookForm.get('author').errors.pattern">Campo de tipo texto.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form__row">
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Género" formControlName="gender">
          <mat-error *ngIf="bookForm.controls.gender.touched && bookForm.controls.gender.invalid">
            <span *ngIf="bookForm.get('gender').errors.required">Campo obligatorio.</span>
            <span *ngIf="bookForm.get('gender').errors.pattern">Campo de tipo texto.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Número de páginas" formControlName="nPage">
          <mat-error *ngIf="bookForm.controls.nPage.touched && bookForm.controls.nPage.invalid">
            <span *ngIf="bookForm.get('nPage').errors.required">Campo obligatorio.</span>
            <span *ngIf="bookForm.get('nPage').errors.pattern">Campo de tipo numerico.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput  type="text"  placeholder="Año de edición" formControlName="yearEdicion">
          <mat-error *ngIf="bookForm.controls.yearEdicion.touched && bookForm.controls.yearEdicion.invalid">
            <span *ngIf="bookForm.get('yearEdicion').errors.required">Campo obligatorio.</span>
            <span *ngIf="bookForm.get('yearEdicion').errors.pattern">Campo de tipo numerico.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" 
              type="button" (click)="save()" [disabled] = "bookForm.invalid">{{id  ?  'MODIFICAR' : 'AGREGAR'}}</button>        

      <button mat-raised-button color="primary" (click)="clear()">Limpiar</button>
  </form>
  <button mat-button color="primary" (click)='testRouter()' >Navegar a ver libros</button>

  <button mat-raised-buttoncolor="primary" (click)='alerta()'>Probar Alerta</button>
</div>

<pre>{{ bookForm.value | json }}</pre>
