<div class="main">

  <prv-carousel-simple [items]="carouselData"></prv-carousel-simple>

  <div class="container">

    <div class="notices">
      <h1 class="title">Noticias</h1>
      <br>
      <div class="notice" *ngFor="let notice of notices">
        <h3> {{ notice.title }} </h3>
        <p> {{ notice.message }}</p>
      </div>
    </div>

    <div class="sections">
      <div class="section">
        <h1 class="title">Los más solicitados</h1>
        <mat-divider></mat-divider>
        <br>
        <prv-carousel-simple [items]="carouselData"></prv-carousel-simple>
      </div>
      <br>
      <div class="section">
        <h1 class="title">Recomendados</h1>
        <mat-divider></mat-divider>
        <br>
        <prv-carousel-simple [items]="carouselData"></prv-carousel-simple>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__information">
      <div class="section">
        <p class="footer__title">DIRECCIÓN</p>
        <p class="footer__text">
          Carretera al Ajusco N° 24, Col. Héroes de Padierna
          Alcaldía Tlalpan, C.P. 14200, Ciudad de México
        </p>
      </div>
      <div class="section">
        <p class="footer__copyright">
          Copyrights © 2020 Universidad Pedagógica Nacional. Créditos.
        </p>
      </div>
      <div class="section">
        <p class="footer__title">CONTACTO</p>
        <p class="footer__text">biblioteca@upn.mx, biblioteca@g.upn.mx</p>
        <p class="footer__text">(55) 5630 9700, (55) 5645 3843</p>
      </div>
    </div>
  </div>

</div>
