<div class="main">

  <app-prv-carousel></app-prv-carousel>

  <div class="container">
    <section class="container__sidebar">
      <h1>MATERIAS</h1>

      <article>
        <h5>> Programación</h5>
        <h5>> Matematicas</h5>
        <h5>> Quimica</h5>
        <h5>> Cienca de datos</h5>
      </article>
    </section>

    <section class="container__body">

      <h1>NOVEDADES</h1>
      <article>
        <h5>> Programación</h5>
        <h5>> Matematicas</h5>
        <h5>> Quimica</h5>
        <h5>> Cienca de datos</h5>
      </article>

      <h1>LOS MÁS SOLICITADOS</h1>
      <article>
        <h5>> Programación</h5>
        <h5>> Matematicas</h5>
        <h5>> Quimica</h5>
        <h5>> Cienca de datos</h5>
      </article>


    </section>

  </div>

</div>
