<mat-nav-list>
    <a mat-list-item [routerLink]="'add-book'">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item>
        <mat-icon>insert_chart_outlined</mat-icon> Reportes
    </a>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>people_alt</mat-icon> Personal Educativo
                </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item [routerLink]="'educational-staff'">
                <mat-icon>person_add</mat-icon> Registrar
            </a>
            <a mat-list-item [routerLink]="'educational-staff-consult'">
                <mat-icon>storage</mat-icon> Consultar
            </a>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>person</mat-icon> Alumnos
                </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item [routerLink]="'students'">
                <mat-icon>person_add</mat-icon> Registrar
            </a>
            <a mat-list-item [routerLink]="'students-consult'">
                <mat-icon>storage</mat-icon> Consultar
            </a>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>book</mat-icon> Libros
                </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item [routerLink]="'add-book'">
                <mat-icon>add_circle</mat-icon> Registrar
            </a>
            <a mat-list-item [routerLink]="'all-book'">
                <mat-icon>storage</mat-icon> Consultar
            </a>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>archive</mat-icon> Préstamos
                </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item>
                <mat-icon>add_circle</mat-icon> Registrar
            </a>
            <a mat-list-item>
                <mat-icon>storage</mat-icon> Consultar
            </a>
        </mat-expansion-panel>
    </mat-accordion>

    <a mat-list-item routerLink="/login">
        <mat-icon>content_paste</mat-icon> Cerrar sesión
    </a>
</mat-nav-list>
