<div class="details">

  <img class="details__img" src="{{ data.photo ? findImage : 'assets/images/not-found-book.svg'}}" mat-icon-button alt="icon">

  <div class="detail">
    <p class="detail__title"> Nombre: </p>
    <p class="description"> {{ data.name }} </p>
  </div>
  <div class="detail">
    <p class="detail__title"> Editorial: </p>
    <p class="description"> {{ data.editorial }} </p>
  </div>
  <div class="detail">
    <p class="detail__title"> Autor: </p>
    <p class="description"> {{ data.author }} </p>
  </div>
  <div class="detail">
    <p class="detail__title"> Género: </p>
    <p class="description"> {{ data.gender }} </p>
  </div>
  <div class="detail">
    <p class="detail__title"> Nª página: </p>
    <p class="description"> {{ data.page }}</p>
  </div>
  <div class="detail">
    <p class="detail__title"> Año de edición: </p>
    <p class="description"> {{ data.yearEdicion | date: 'mediumDate' }}</p>
  </div>
</div>
