@import '_globals'

.container-main
  display: flex
  @include tablet
    flex-direction: column

.sidebar
  background: #a9a9a90a
  @include tablet
    padding: 0 1rem

  &__title
    font-family: serif
    text-align: center
    padding-top: 1rem

  &__search
    width: 100%
    padding: 0 .5rem

  &__categories
    overflow-x: hidden
    @include scrollbar()
    @include tablet
      height: 10rem


.item-category
  cursor: pointer
  &:hover
    background:#9e9e9e3b
  &__border
    border-left: .4rem solid orange

.container-body
  width: 100%

  &__search
    display: flex
    justify-content: flex-end
    right: 1rem

.wrapper
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr))
  grid-gap: 1rem 0
  padding: 0 .5rem 0 .5rem
  width: 100%
  @include mobile
    padding: 0
    grid-template-columns: 2fr 2fr

.card
  margin: 1px 6px 1px 3px
  width: auto
  padding: 7px 9px
  min-width: 0
  border: 2px solid #dadaff80
  border-radius: 0.5rem
  background: #f8fcff
  font-size: 13px
  text-align: center
  font-family: ui-sans-serif
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 12px 18px 0px 20px
  &:hover
    box-shadow:  rgb(0 0 0 / 35%) 0px 5px 15px
    cursor: pointer

  &__description
    font-size: 1.3rem
    font-weight: bold

  &__img
    height: 17.8rem
    width: 100%
    margin-bottom: 0.5rem
    border-radius: 0.2rem
    @include minphone
      height: 6rem

.container-buttons
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: .5rem 0

  &__button
    width: 5rem
    padding: .5rem
    background: linear-gradient(45deg, #278dbd, #2c5aa0)
    border-radius: 6px
    border: antiquewhite
    color: #FFF
    font-size: 13px
    width: 10rem
    margin-bottom: .2rem
    &:hover
      cursor: pointer
      background: linear-gradient(45deg, #479ac1bf, #2c76e6e6)
      box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 0px 5px

.empty
  width: 100%
  grid-column: 1 / -1 // center item in the grid