<div class="container-main">

	<div class="sidebar">
		<h1 class="sidebar__title">Categoría</h1>
    <mat-divider></mat-divider>

		<mat-form-field class="sidebar__search" appearance="fill" style="padding-top: 1rem;">
			<mat-label>Buscar</mat-label>
			<input type="text" matInput  [(ngModel)]="filterpost" name="filterpost" />
			<mat-icon matSuffix>search</mat-icon>
		</mat-form-field>

		<mat-list role="list" class="sidebar__categories">
			<mat-list-item class='item-category' role="listitem" *ngFor="let category of categories | filter: filterpost" (click)="selectCategory(category)">
				{{ category.description }}
			</mat-list-item>
		</mat-list>

	</div>

	<div class="container-body">
		<mat-form-field class="container-body__search" appearance="fill" style="padding-top: 1rem;">
			<mat-label>Buscar</mat-label>
			<input type="text" matInput [(ngModel)]="filtergallery" name="filtergallery" />
			<mat-icon matSuffix>search</mat-icon>
		</mat-form-field>
	
		<div class="wrapper" *ngIf="( books | filtergalery:filtergallery) as result">
			<div class="card" *ngFor="let book of result">
				<div>
					<img class="card__img" src="{{ book.foto }}"/>
				</div>
				<div class="card__description">
					<p>{{ book.nombre }}</p>
				</div>
				<div class="container-buttons">
					<button class="container-buttons__button">
						Detalles
					</button>
					<button class="container-buttons__button">
						Reservar
					</button>
				</div>
			</div>
			<div class="empty" *ngIf="result.length === 0">
				<app-prv-empty msg2="No se encontraron resultados"></app-prv-empty>
			</div>
		</div>
	</div>
</div>
