<!-- <p class="wrap__title">{{'title' | translate}}</p> -->
<div class="container">

  <div class="cards">
    <div class="card card-1"> 
      <div class="container-card">
        <img class="container-card__icon" src="assets/images/prestamo.svg" alt="linko">
        <div class="container-text">
          <p class="container-card__number"> 1 </p>
          <p class="container-card__text"> Préstamos </p>
        </div>
      </div>
      <div class="footer">
        <h1 class="footer__description">Ver detalles</h1>
        <img class="footer__icon" src="assets/images/arrow.svg" alt="arrow">
      </div>
    </div>
    <div class="card card-2"> 
      <div class="container-card">
        <img class="container-card__icon" src="assets/images/entregar.svg" alt="linko">
        <div class="container-text">
          <p class="container-card__number"> 1 </p>
          <p class="container-card__text"> Devoluciones </p>
        </div>
      </div>
      <div class="footer">
        <h1 class="footer__description">Ver detalles</h1>
        <img class="footer__icon" src="assets/images/arrow.svg" alt="arrow">
      </div>
    </div>
    <div class="card card-3"> 
      <div class="container-card">
        <img class="container-card__icon" src="assets/images/registro_user.svg" alt="linko">
        <div class="container-text">
          <p class="container-card__number"> 1 </p>
          <p class="container-card__text"> Registro de usuarios </p>
        </div>
      </div>
      <div class="footer">
        <h1 class="footer__description">Ver detalles</h1>
        <img class="footer__icon" src="assets/images/arrow.svg" alt="arrow">
      </div>
    </div>
    <div class="card card-4"> 
      <div class="container-card">
        <img class="container-card__icon" src="assets/images/prestamo.svg" alt="linko">
        <div class="container-text">
          <p class="container-card__number"> 1 </p>
          <p class="container-card__text"> Registro de libros </p>
        </div>
      </div>
      <div class="footer">
        <h1 class="footer__description">Ver detalles</h1>
        <img class="footer__icon" src="assets/images/arrow.svg" alt="arrow">
      </div>
    </div>
  </div>
  
  <div class="graphics">
    <div class="wrap">
      <div class="donuts">
        <canvas id="pastel"></canvas>
      </div>
      <div class="line">
        <canvas id="line"></canvas>
      </div>
    </div>
    <div class="barra">
        <canvas id="bar"></canvas>
    </div>
  </div>

</div>
