<mat-toolbar color="primary" class="header">
  <div>LibraryUI</div>
</mat-toolbar>


<div class="container">

  <div class="form-forgot">

    <h1>Recupera tu cuenta</h1>

    <mat-form-field>
      <input matInput type='text' placeholder='Ingrese correo eletronico' >
    </mat-form-field>

    <span class="form-forgot__msg">
      Hemos enviado las instrucciones para restablecer su contraseña a su correo electrónico.
    </span>

    <div class="form-forgot__group-buttons">
      <button mat-raised-button color="primary">Enviar</button>
      <button mat-raised-button >Cancelar</button>
    </div>
  </div>
</div>