<div class="container-okram">

  <div class="containerP">

    <header class="header">
      <h2> HEADER</h2>
    </header>


    <main class="contenido">
      <h1>Contenido</h1>

      <p>José de la Cruz Porfirio Díaz Mori, ​ conocido como Porfirio Díaz, fue un militar mexicano que ejerció el cargo
        de presidente de México en siete ocasiones. En total ocupó la presidencia de México por 31 años, una extensión
        sin precedentes, y cuyo lapso, en la historia de México, es denominado como Porfiriato.</p>
      <br>
      <p>José de la Cruz Porfirio Díaz Mori, ​ conocido como Porfirio Díaz, fue un militar mexicano que ejerció el cargo
        de presidente de México en siete ocasiones. En total ocupó la presidencia de México por 31 años, una extensión
        sin precedentes, y cuyo lapso, en la historia de México, es denominado como Porfiriato.</p>
      <br>
      <p>José de la Cruz Porfirio Díaz Mori, ​ conocido como Porfirio Díaz, fue un militar mexicano que ejerció el cargo
        de presidente de México en siete ocasiones. En total ocupó la presidencia de México por 31 años, una extensión
        sin precedentes, y cuyo lapso, en la historia de México, es denominado como Porfiriato.</p>
    </main>

    <aside class="sidebar">
      <h3>SIDEBAR</h3>
    </aside>

    <div class="widget-1">
      <h3> WIDGET 1</h3>
    </div>
    <div class="widget-2">
      <h3> WIDGET 2</h3>
    </div>

    <footer class="footer">
      <h3>FOOTER</h3>
    </footer>


  </div>


</div>
