<div class="grid-container">
  <div class="header">
    <div class="header-col-1">
      <h3 class="header-col-1__title">LibraryUI</h3>
      <img class="header-col-1__icon" src="/assets/logoUI.png" alt="icon">
    </div>
    <div class="header-col-2">
      <img src="/assets/profile.png" alt="icon">
      <img src="/assets/logout.png" alt="icon">
      <img src="/assets/profile.png" alt="icon">
      <img src="/assets/logout.png" alt="icon">
    </div>

  </div>
  <div class="sidebar">Menu</div>
  <div class="content">

    <div class="wrap">
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
      <div>Si hay texto directamente incluido en el contenedor flexible.</div>
    </div>

  </div>
  <div class="footer">Footer</div>
</div>
