@import '_globals'

.containerTitle

.title
  font-size: 1em
  font-family: -webkit-body
  font-weight: bolder
  text-shadow: 0 1px 1px #4f89bb, 0px -2px 1px #fff

.container-button
  display: flex
  justify-content: center

  &__button
    background-color:$color-blue
    transition: background-color .5s
    &:hover
        background-color:$color-green-2