<mat-toolbar color="primary" class="header">
  <div>LibraryUI</div>
</mat-toolbar>

<div class="content">

  <form class="form-reset" [formGroup]="resetForm" novalidate (ngSubmit)="save()">
    <h2>Crear contraseña nueva</h2>

    <article>
      <h3>Consejos para una contraseña segura:</h3>
      <p>* Utiliza al menos 8 caracteres, es mejor si es una combinación de cifras y letras</p>
      <p>* No utilices la misma contraseña que ya has utilizado con nosotros antes.</p>
      <p>* No utilice palabras del diccionario, su nombre, dirección de correo electrónico, número de teléfono móvil u otra información personal que puede obtener fácilmente.</p>
      <p>* No utilices la misma contraseña para varias cuentas online.</p>
    </article>

    <mat-form-field>
      <input matInput type="text" placeholder="*Contraseña" formControlName="password">
      <mat-error *ngIf="resetForm.controls.password.touched && resetForm.controls.password.invalid">
        <span *ngIf="resetForm.controls.password.errors.required || resetForm.get('password').errors.pattern">
          Campo alfanúmerico min. 4, max. 10
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="*Confirmar contraseña" formControlName="confirmPassword">
      <mat-error *ngIf="resetForm.controls.confirmPassword.touched && resetForm.controls.confirmPassword.invalid">
        <span
          *ngIf="resetForm.controls.confirmPassword.errors.required || resetForm.get('confirmPassword').errors.pattern">
          Campo text min. 4, max. 25
        </span>
      </mat-error>
    </mat-form-field>

    <p class="msg_confirmation" *ngIf='isSuccess'>
      Se le ha enviado una liga de confirmación a su correo eléctronico
    </p>

    <div class="form__actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">Registrar</button>
    </div>
  </form>

</div>