<div class="content">

  <h1 class="title">Cambiar contraseña</h1>

  <form class="form-reset" [formGroup]="userForm" novalidate (ngSubmit)="save()">
    <div class="form-reset__control">
      <mat-form-field>
        <input matInput type="text" placeholder="* Contraseña actual" formControlName="currentpassword">
        <mat-error *ngIf="userForm.controls.currentpassword.touched && userForm.controls.currentpassword.invalid">
          <span *ngIf="userForm.controls.currentpassword.errors.required || userForm.get('currentpassword').errors.minlength
          || userForm.get('currentpassword').errors.maxlength || userForm.get('currentpassword').errors.pattern">
            Campo text min. 4, max. 25
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput  type="text" placeholder="* Nueva contraseña" formControlName="password">
        <mat-error *ngIf="userForm.controls.password.touched && userForm.controls.password.invalid">
          <span *ngIf="userForm.controls.password.errors.required || userForm.get('password').errors.minlength
          || userForm.get('password').errors.maxlength || userForm.get('password').errors.pattern">
            Campo text min. 4, max. 25
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput  type="text" placeholder="* Confirmar contraseña" formControlName="confirmpassword">
        <mat-error *ngIf="userForm.controls.confirmpassword.touched && userForm.controls.confirmpassword.invalid">
          <span *ngIf="userForm.controls.confirmpassword.errors.required || userForm.get('confirmpassword').errors.minlength
          || userForm.get('confirmpassword').errors.maxlength || userForm.get('confirmpassword').errors.pattern">
            Campo text min. 4, max. 25
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form__actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
        Guardar
      </button>
    </div>
  </form>
</div>
