<button class="but-back" (click)="goBack()">
  <mat-icon class="icon">arrow_back</mat-icon>
</button>
<p>{{user ? 'editar': 'AGREGRAR' }}</p>



<p>REGISTRO DE ADMINISTRADORES</p>
<form class="form" [formGroup]="userForm" novalidate (ngSubmit)="save()">
  <h4>Datos personales</h4>
  <div class="form__control">
    <mat-form-field>
      <input matInput type="text" placeholder="*Nombre" formControlName="name">
      <mat-error *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid">
        <span *ngIf="userForm.controls.name.errors.required || userForm.get('name').errors.minlength || userForm.get('name').errors.maxlength || userForm.get('name').errors.pattern">
          Campo text min. 4, max. 25
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput  type="text" placeholder="*Apellido Paterno" formControlName="firstname">
      <mat-error *ngIf="userForm.controls.firstname.touched && userForm.controls.firstname.invalid">
        <span *ngIf="userForm.controls.firstname.errors.required || userForm.get('firstname').errors.minlength || userForm.get('firstname').errors.maxlength || userForm.get('firstname').errors.pattern">
          Campo text min. 4, max. 25
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput  type="text" placeholder=" *Apellido Materno" formControlName="secondname">
      <mat-error *ngIf="userForm.controls.secondname.touched && userForm.controls.secondname.invalid">
        <span *ngIf="userForm.controls.secondname.errors.required || userForm.get('secondname').errors.minlength || userForm.get('secondname').errors.maxlength || userForm.get('secondname').errors.pattern">
          Campo text min. 4, max. 25
        </span>
      </mat-error>
    </mat-form-field>
    <div class="group-radio">
      <label class="group-radio__title">*Sexo:</label>
      <mat-radio-group class="group-radio__options" formControlName="sex">
        <mat-radio-button value="M">Hombre</mat-radio-button>
        <mat-radio-button value="F">Mujer</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="userForm.controls.sex.touched && userForm.controls.sex.invalid">
        <span *ngIf="userForm.controls.sex.errors.required">
          Campo requerido
        </span>
      </mat-error>
    </div>
    <mat-form-field>
      <input matInput  type="text" placeholder="*Celular" formControlName="cel">
      <mat-error *ngIf="userForm.controls.cel.touched && userForm.controls.cel.invalid">
        <span *ngIf="userForm.controls.cel.errors.required || userForm.get('cel').errors.minlength || userForm.get('cel').errors.maxlength || userForm.get('cel').errors.pattern">
          Campo nuḿerico max. 10
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput  type="text" placeholder="*Correo electrónico" formControlName="email">
      <mat-error *ngIf="userForm.controls.email.touched && userForm.controls.email.invalid">
        <span *ngIf="userForm.controls.email.errors.required">Campo requerido</span>
        <span *ngIf="userForm.get('email').errors.pattern">
          Email inválido
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput  type="text" placeholder="*Contraseña" formControlName="password">
      <mat-error *ngIf="userForm.controls.password.touched && userForm.controls.password.invalid">
        <span *ngIf="userForm.controls.password.errors.required">Campo requerido</span>
        <span *ngIf="userForm.get('password').errors.pattern">
          Email inválido
        </span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form__actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Registrar</button>
    <button mat-raised-button (click)="reset()">Cancelar</button>
  </div>
</form>