@import '_globals'


.imgBack
    height: 1.5rem
    position: fixed
    bottom: 30rem

.title
    font-size: 1.20rem
    text-transform: uppercase
    text-shadow: 0px 0px 0px blue
    margin-top: 2rem