<div class="file">
  <nav class="menuCSS3">
		<ul>
			<li>
        <a >Contacto</a>
				<ul>
					<li><a href="#">Email</a></li>
					<li><a href="#">Mapa</a></li>
				</ul>
			</li>
		</ul>
	</nav>

  <div class="menu">
    <p class="menu__item" (click)="previous()">Visualizar</p>
    <p class="menu__item" (click)="download()">Descargar</p>
  </div>
  <label class="content-img" for="archivo">
    <img class="file__img" src="assets/images/{{ uploadedFile ? uploadedFile.extension: 'add-file'}}.svg">
    <div class="file__description">
      <p class="file__name" title="{{ uploadedFile ? uploadedFile.name : '' }}">
        {{ uploadedFile ? uploadedFile.name : 'Eliga un archivo' }}
      </p>
      <p class="file__size">{{ uploadedFile ? bytesToSize(uploadedFile.size) : '' }}</p>
    </div>
  </label>
  <input type="file" id="archivo" [accept]="accepts" (change)="onFileSelected($event)">
</div>
