.file
  max-width: 15rem
  font-family: initial

  & input
    display: none

  & label
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1rem
    border: 1px solid #ccc
    border-radius: .2rem
    background-color: #eee
    cursor: pointer

  &__img
    width: 3.5rem

  &__description
    overflow: hidden
    padding-left: .5rem
    line-height: 1.4

  &__name
    font-size: 1rem
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
