<div class="file">
  <div class="dropdown" *ngIf="uploadedFile">
    <span class="dropdown__menu">
      <mat-icon>menu</mat-icon>
    </span>
    <div class="dropdown-content">
      <p (click)="previous()">Visualizar</p>
      <p (click)="download()">Descargar</p>
    </div>
  </div>
  <label class="content-img" for="archivo">
    <img class="file__img" src="assets/images/{{ uploadedFile ? uploadedFile.extension: 'add-file' }}.svg">
    <div class="file__description">
      <p class="file__name" title="{{ uploadedFile ? uploadedFile.name : '' }}">
        {{ uploadedFile ? uploadedFile.name : 'Eliga un archivo' }}
      </p>
      <p class="file__size">{{ uploadedFile ? bytesToSize(uploadedFile.size) : '' }}</p>
    </div>
  </label>
  <input type="file" id="archivo" [accept]="accepts" (change)="onFileSelected($event)">
</div>
