@import '_globals'

.manager
  height: 100vh
  display: flex
  flex-direction: column


.sections
  filter: grayscale(1) blur(1px) opacity(.7)
  pointer-events: none
  cursor: not-allowed

.icon
  width: 1.8rem
  cursor: pointer
  margin: 0 1rem
  @include mobile
    margin: 0 .5rem

.content, .content__sections
  border: 1px solid
  height: 100%