
<div class="content">

  <app-header #header [sidenav]='sideMenu'></app-header>

  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      [mode]="header.isBiggerScreen() ? 'over' : 'side'"
      [(opened)]="header.opened"
      [fixedInViewport]="true"
      [fixedTopGap]>
      <app-prv-sidebar></app-prv-sidebar>
    </mat-sidenav>

    <app-prv-section-loader></app-prv-section-loader>

    <mat-sidenav-content>

      <div class="content">
        <ng-container *ngIf='loading'>
          <app-prv-section-loader></app-prv-section-loader>
        </ng-container>

        <div class="content__sections" [ngClass]="{ 'sections': loading }" [hidden]='isError'>
          <router-outlet></router-outlet>
        </div>

        <ng-container *ngIf='isError'>
          <app-prv-system-error></app-prv-system-error>
        </ng-container>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


