
<div class="container">

  <mat-toolbar color="primary" class="header">
    <div>LibraryUI</div>
  </mat-toolbar>

  <div class="registry">

    <h1>CREAR CUENTA</h1>

    <form class="form" [formGroup]="registryForm" novalidate (ngSubmit)="save()">
      <h4>Datos personales</h4>
      <div class="form__control">
        <mat-form-field>
          <input matInput type="text" placeholder="*Clave o Matricula" formControlName="dni">
          <mat-error *ngIf="registryForm.controls.dni.touched && registryForm.controls.dni.invalid">
            <span *ngIf="registryForm.controls.dni.errors.required || registryForm.get('dni').errors.minlength || registryForm.get('dni').errors.maxlength || registryForm.get('dni').errors.pattern">
              Campo alfanúmerico min. 4, max. 10
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="*Nombre" formControlName="name">
          <mat-error *ngIf="registryForm.controls.name.touched && registryForm.controls.name.invalid">
            <span *ngIf="registryForm.controls.name.errors.required || registryForm.get('name').errors.minlength || registryForm.get('name').errors.maxlength || registryForm.get('name').errors.pattern">
              Campo text min. 4, max. 25
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text" placeholder="*Apellido Paterno" formControlName="surname">
          <mat-error *ngIf="registryForm.controls.surname.touched && registryForm.controls.surname.invalid">
            <span *ngIf="registryForm.controls.surname.errors.required || registryForm.get('surname').errors.minlength || registryForm.get('surname').errors.maxlength || registryForm.get('surname').errors.pattern">
              Campo text min. 4, max. 25
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text" placeholder=" *Apellido Materno" formControlName="mothersuname">
          <mat-error *ngIf="registryForm.controls.mothersuname.touched && registryForm.controls.mothersuname.invalid">
            <span *ngIf="registryForm.controls.mothersuname.errors.required || registryForm.get('mothersuname').errors.minlength || registryForm.get('mothersuname').errors.maxlength || registryForm.get('mothersuname').errors.pattern">
              Campo text min. 4, max. 25
            </span>
          </mat-error>
        </mat-form-field>
        <div class="group-radio">
          <label class="group-radio__title">*Sexo:</label>
          <mat-radio-group class="group-radio__options" formControlName="sex">
            <mat-radio-button value="M">Hombre</mat-radio-button>
            <mat-radio-button value="F">Mujer</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="registryForm.controls.sex.touched && registryForm.controls.sex.invalid">
            <span *ngIf="registryForm.controls.sex.errors.required">
              Campo requerido
            </span>
          </mat-error>
        </div>
        <mat-form-field>
          <input matInput  type="text" placeholder="*Celular" formControlName="cel">
          <mat-error *ngIf="registryForm.controls.cel.touched && registryForm.controls.cel.invalid">
            <span *ngIf="registryForm.controls.cel.errors.required || registryForm.get('cel').errors.minlength || registryForm.get('cel').errors.maxlength || registryForm.get('cel').errors.pattern">
              Campo nuḿerico max. 10
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text" placeholder="*Correo electrónico" formControlName="email">
          <mat-error *ngIf="registryForm.controls.email.touched && registryForm.controls.email.invalid">
            <span *ngIf="registryForm.controls.email.errors.required">Campo requerido</span>
            <span *ngIf="registryForm.get('email').errors.pattern">
              Email inválido
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <h4>Direccion</h4>
      <div class="form__control">
        <mat-form-field>
          <input matInput  type="text" placeholder="*Código postal" formControlName="postalCode">
          <mat-error *ngIf="registryForm.controls.postalCode.touched && registryForm.controls.postalCode.invalid">
            <span *ngIf="registryForm.controls.postalCode.errors.required || registryForm.get('postalCode').errors.minlength || registryForm.get('postalCode').errors.maxlength || registryForm.get('postalCode').errors.pattern">
              Campo númerico max. 5
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text" placeholder="*Ciudad" formControlName="city">
          <mat-error *ngIf="registryForm.controls.city.touched && registryForm.controls.city.invalid">
            <span *ngIf="registryForm.controls.city.errors.required || registryForm.get('city').errors.minlength || registryForm.get('city').errors.maxlength || registryForm.get('city').errors.pattern">
              Campo texto min 4, max. 30
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text" placeholder="*Delegacion" formControlName="delegation">
          <mat-error *ngIf="registryForm.controls.delegation.touched && registryForm.controls.delegation.invalid">
            <span *ngIf="registryForm.controls.delegation.errors.required || registryForm.get('delegation').errors.minlength || registryForm.get('delegation').errors.maxlength || registryForm.get('delegation').errors.pattern">
              Campo texto min 4, max. 30
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text" placeholder="*Colonia" formControlName="colony">
          <mat-error *ngIf="registryForm.controls.colony.touched && registryForm.controls.colony.invalid">
            <span *ngIf="registryForm.controls.colony.errors.required || registryForm.get('colony').errors.minlength || registryForm.get('colony').errors.maxlength || registryForm.get('colony').errors.pattern">
              Campo texto min 4, max. 30
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput  type="text" placeholder="*Calle" formControlName="street">
          <mat-error *ngIf="registryForm.controls.street.touched && registryForm.controls.street.invalid">
            <span *ngIf="registryForm.controls.street.errors.required || registryForm.get('street').errors.minlength || registryForm.get('street').errors.maxlength || registryForm.get('street').errors.pattern">
              Campo texto min 4, max. 30
            </span>
          </mat-error>
        </mat-form-field>
        <div class="registry__num-street">
          <mat-form-field>
            <input matInput  type="text" placeholder="Nª interior" formControlName="numInt">
            <mat-error *ngIf="registryForm.controls.numInt.touched && registryForm.controls.numInt.invalid">
              <span *ngIf="registryForm.get('numInt').errors.minlength || registryForm.get('numInt').errors.maxlength || registryForm.get('numInt').errors.pattern">
                Campo numerico min. 1, max. 2
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput  type="text" placeholder="Nª exterior" formControlName="numExt">
            <mat-error *ngIf="registryForm.controls.numExt.touched && registryForm.controls.numExt.invalid">
              <span *ngIf="registryForm.get('numExt').errors.minlength || registryForm.get('numExt').errors.maxlength || registryForm.get('numExt').errors.pattern">
                Campo numerico min. 1, max. 2
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form__actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="registryForm.invalid">Registrar</button>
        <button mat-raised-button (click)="reset()">Cancelar</button>
      </div>
    </form>
    <a mat-button class="go-signin" routerLink="/signin">¿Ya tienes una cuenta? Iniciar sesión</a>
    <pre> {{ registryForm.status | json }}</pre>
    <pre> {{ registryForm.value | json }}</pre>
  </div>
</div>




