<h4>Registro de prestamos</h4>

<form [formGroup]='miFormulario' novalidate=''>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="text">Nombre</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Apellido paterno</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label for="text">Apellido materno</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Matricula</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label for="exampleFormControlSelect1">Fecha de Prestamo</label>
          <input type="datetime-local" name="fechaHora">
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Fecha de la Devolucion</label>
          <input type="datetime-local" name="fechaHora">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">Fecha de prueba</label>
            <input type="text" name="fechaHora" placeholder="dd/mm/yyyy">
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Celular</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-4">
          <label for="exampleFormControlSelect1">Seleccione Sexo</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Seleccione</option>
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </div>
      </div>
    </form>
