

<div class="wrapper">

  <div class="container">
    <div class="card card-1">
      <div class="card__fondo">
        <img src="assets/notifications.svg"  mat-icon-button alt="notification">
      </div>
      <div class="card__info">
        <h3 class="card__title">15</h3>
        <div>
          <h3 class="card__title">Préstamos</h3>
        </div>
      </div>
    </div>
    <div class="card card-2">
      <div class="card__fondo">
        <img src="assets/notifications.svg"  mat-icon-button alt="notification">
      </div>
      <div class="card__info">
        <h3 class="card__title">15</h3>
        <div>
          <h3 class="card__title">Devoluciones pendientes</h3>
        </div>
      </div>
    </div>
    <div class="card card-3">
      <div class="card__fondo">
        <img src="assets/notifications.svg"  mat-icon-button alt="notification">
      </div>
      <div class="card__info">
        <h3 class="card__title">15</h3>
        <div>
          <h3 class="card__title">Usuarios registrados</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="graficas">
    <div class="graph doughnut">
      <canvas class="chart" id="pastel"></canvas>
    </div>
    <div class="graph line">
      <canvas class="chart" id="line"></canvas>
    </div>
    <div class="graph bar">
      <canvas class="chart" id="bar"></canvas>
    </div>
  </div>

</div>
