
<div class="cards">
  <div class="card card-1">
    <h1 class="card__title">Préstamos</h1>
    <p class="card__text">1</p>
  </div>
  <div class="card card-2">
    <h1 class="card__title">Libros por entregar</h1>
    <p class="card__text">1</p>
  </div>
  <div class="card card-3">
    <h1 class="card__title">Usuarios</h1>
    <p class="card__text">1</p>
  </div>
</div>
<div class="graphics">
  <div class="wrap">
    <div class="donuts">
      <canvas id="pastel"></canvas>
    </div>
    <div class="line">
      <canvas id="line"></canvas>
    </div>
  </div>
  <div class="barra">
      <canvas id="bar"></canvas>
  </div>
</div>