
<div class="login">
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3">

             <div class="inner-form">
                 <img src="/assets/logoUI.png" class="logoUI img-fluid" alt="Responsive image">

                 <form [formGroup]='miFormulario' novalidate=''>
                      <div class="row">
                         <div class="icon text-center">
                            <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                         </div>

                         <div class="col-lg-12">
                             <label>Email</label>
                             <div class="form-group">
                                 <input type="email" name="email" id="email" class="form-control" placeholder="">
                             </div>
                         </div>

                         <div class="col-lg-12">
                             <label>Password</label>
                             <div class="form-group">
                                 <input type="password" name="password" id="password" class="form-control" placeholder="">
                             </div>
                         </div>

                         <div class="col-lg-12">
                             <button type="button"  routerLink="/home" class="btn btn-default">
                                 <span>LOGIN</span>
                             </button>
                         </div>


                         <div class="col-lg-12">
                             <div class="forgot">
                                 <p>Forgot Password or Email ?</p>
                             </div>
                         </div>
                     </div>
                 </form>
             </div> <!-- inner-form -->

         </div>
     </div>
 </div>
