<div class="container">

  <div class="cards">
    <div class="card card-1">
      <h1 class="container-card__title"> Préstamos </h1>
      <div class="container-card">
        <img class="container-card__icon" src="assets/images/prestamo.svg" alt="linko">
        <div class="container-text">
          <p class="container-card__number"> 1 </p>
          <p class="container-card__text"> Registrados </p>
        </div>
      </div>
    </div>
    <div class="card card-2">
      <h1 class="container-card__title"> Devoluciones </h1>
      <div class="container-card">
        <img class="container-card__icon" src="assets/images/devolver.svg" alt="linko">
        <div class="container-text">
          <p class="container-card__number"> 1 </p>
          <p class="container-card__text"> Registrados </p>
        </div>
      </div>
    </div>
    <div class="card card-3">
      <h1 class="container-card__title"> Usuarios </h1>
      <div class="container-card">
        <img class="container-card__icon" src="assets/images/man.svg" alt="linko">
        <div class="container-text">
          <p class="container-card__number"> 1 </p>
          <p class="container-card__text"> Registrados </p>
        </div>
      </div>
    </div>
    <div class="card card-4">
      <h1 class="container-card__title"> Libros </h1>
      <div class="container-card">
        <img class="container-card__icon" src="assets/images/book.svg" alt="linko">
        <div class="container-text">
          <p class="container-card__number"> 1 </p>
          <p class="container-card__text"> Registrados </p>
        </div>
      </div>
      <!-- <div class="footer">
        <h1 class="footer__description">Ver detalles</h1>
        <img class="footer__icon" src="assets/images/arrow.svg" alt="arrow">
      </div> -->
    </div>
  </div>

  <div class="graphics">
    <div class="wrap">
      <div class="donuts">
        <canvas id="pastel"></canvas>
      </div>
      <div class="line">
        <canvas id="line"></canvas>
      </div>
    </div>
    <div class="barra">
        <canvas id="bar"></canvas>
    </div>
  </div>

</div>
