<app-prv-empty *ngIf="!arreglo.length; else containerList "   title="LO SENTIMOS"
[msg2]="'NO SE ENCONTRARON ADMINISTRADORES'"> </app-prv-empty>
<!-- <button *ngIf="block ===2 || block ===3 " class="button-regresar" (click)="regresar()" > REGRESAR </button> -->
<!-- <button class="button-regresar">REGRESAR</button> -->

<ng-template #containerList>

  <ng-container *ngIf="block ===1">

    <div class="container">
    <h1 class="title">Administradores </h1>
    <div  class="container-primary">
      <div class="list" *ngFor="let item of arreglo">
        <p class="list__name" title="{{item.name}}">{{item.name}} {{item.firstname}} {{item.secondname}}</p>
        <div class="buttons">
            <button class="buttons__action" mat-raised-button (click)="editUser(item)">
              <mat-icon class="icon">edit</mat-icon>
              <span> Editar</span>
            </button>
            <button class="buttons__action" mat-raised-button (click)="delete(item)">
              <mat-icon class="icon" >delete</mat-icon>
              <span> Eliminar</span>
            </button>
          </div>
      </div>
      </div>
      </div>
  </ng-container>

  <ng-container  *ngIf="block === catalog.ADD_USER || block === catalog.UPDATE_USER">
    <app-users  [object]="block === catalog.UPDATE_USER ? user: ''"  (cambio)="recibidoNum($event)" ></app-users>
  </ng-container>

</ng-template>


<div class="button" >
  <button mat-raised-button class="button__register" [disabled]="arreglo.length >= numeric.FIVE" (click)="addUser()">
    <mat-icon class="icon2" >person_add</mat-icon>
    <span >Registrar</span>
  </button>
</div>