
<!-- <app-prv-user data='Mensaje de prueba'> </app-prv-user> -->
<p>animales {{animales.length}}</p>
<app-prv-empty *ngIf= !animales.length  ></app-prv-empty>

<div class="container">
<h1 class="title">Administradores </h1>

<div  class="container-primary">

  <div class="list" *ngFor="let item of animales">
    <p class="list__name" title="{{item.tipoAnimal}}">{{item.tipoAnimal}}</p>

    <div class="buttons">
        <button class="buttons__action" mat-raised-button >
          <mat-icon class="icon">edit</mat-icon>
          <span> Editar</span>
        </button>
        <button class="buttons__action" mat-raised-button  >
          <mat-icon class="icon" >delete</mat-icon>
          <span> Eliminar</span>
        </button>
      </div>

  </div>

</div>
<div class="button">
  <button class="button__register" mat-raised-button >
    <mat-icon class="icon2" >person_add</mat-icon>
    <span >Registrar</span>
    </button>
</div>

</div>